.for-card{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 2rem;
}

.reff {
  display: flex;
    list-style-type: none;
    padding: 0;
    padding-bottom: 1rem;
    margin-bottom: 0;
  overflow: auto;
}

.reff li {
  border: 1px solid #ebebeb;
    color: #7a7a7a;
    padding: 0.1rem 0.4rem;
    font-size: 0.88rem;
    border-radius: 3px;
    margin-right: 0.4rem;
}

.reff li:hover { 
  background-color: var(--color-accent);
  color: black;
  cursor: pointer;
}


/* styles for '...' */ 
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}